.footer-container{
  width: 100%;
  background-color: #c9d1ce;
  box-sizing: border-box;
  padding: 10% 20%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-container img{
 width: 60%;
 transition: transform 0.2s ease;
 cursor: pointer;
}
.footer-logo-container img:hover{
 transform: scale(1.03);
 }
 

.menu-links, .menu-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu-links ul .link{
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease;
}
.menu-links ul .link:hover{
  color:#576560;
}
.menu-links ul .order-online{
  padding: 10px 20px;
  background-color: #576560;
  color: white;
  border-radius: 17px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.menu-links ul .order-online:hover{
  background-color: #677872;
}
.social-links ul li{
  list-style: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.social-links ul li:hover{
 opacity: 0.6;
}

.contact-detail{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact-detail ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact-detail ul li{
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.2s ease;
  cursor: pointer;
}
.contact-detail ul li:hover{
  color: #576560;
}

@media (max-width: 1200px){
  .footer-container{
    padding: 10% 10%;
  }
}
@media (max-width: 800px){
  .footer-container{
    padding: 10% 25px;
  }
}
@media (max-width: 700px){
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}