.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background: #495E57;
}
.hero-text{
  width: 50%;
  color: white;
  background: #000;
  display: flex;
  flex-direction: column;
}
.hero-text h1{
  font-size: 40px;
  font-weight: 700;
  background: red;
}
.hero-text span{
  font-size: 30px;
  font-weight: 700;
}
.hero-text p{
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  background-color: aqua;
}
.hero-text button{
  padding: 10px 20px;
  background: #F9A826;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-img{
  width: 50%;
}
.hero-img img{
  width: 100%;
}