.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 4% 20%;
  background: #495E57;
  gap: 100px;
}
.hero-text{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero-text h1{
  color: #F4CE14;
  font-size: 40px;
  font-weight: 700;
}
.hero-text span{
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.hero-text p{
  font-size: 14px;
  font-weight: 100;
  margin: 20px 0;
  color: white;
}
.hero-text button{
  padding: 10px 20px;
  width: 200px;
  background: #F4CE14;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.hero-image-container{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.hero-image-container img{
  position: relative;
  transform: rotate(90deg);
  bottom: -90PX;
  height: 350px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .hero-container{
    padding: 2% 10% 5% 10%;
  }
}
@media (max-width: 1000px) {
  .hero-text h1{
    font-size: 30px;
  }
  .hero-text span{
    font-size: 25px;
  }
  .hero-text p{
    font-size: 12px;
    font-weight: 100;
  }
  .hero-text button{
    width: 200px;
    font-size: 15px;
  }
  .hero-image-container img{
    bottom: -70PX;
    height: 260px;
  }
}
@media (max-width: 800px) {
  .hero-container{
    padding: 5% 25px 8% 25px;
    gap: 100px;
  }
  .hero-image-container img{
    position: relative;
    bottom: 0PX;
    height: 210px;
  }
}
@media (max-width: 700px) {
  .hero-image-container img{
    position: relative;
    bottom: 0PX;
    height: 210px;
  }
}
@media (max-width: 600px) {
  .hero-container{
    padding: 5% 5% 8% 5%;
    gap: 50px;
  }
  .hero-image-container img{
    position: relative;
    bottom: 0PX;
    height: 150px;
  }
}
@media (max-width: 430px) {
  .hero-text h1{
    font-size: 25px;
  }
  .hero-text span{
    font-size: 20px;
  }
  .hero-text p{
    font-size: 10px;
    font-weight: 100;
  }
  .hero-text button{
    width: 200px;
    font-size: 12px;
  }
  .hero-image-container img{
    height: 110px;
  }
}
