.nav-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20%;
  z-index: 1000;
  position: relative;
}
.nav-container  .lg-screen-nav{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.nav-container ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(60, 57, 57);
}
.nav-logo{
  width: 130px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.nav-logo:hover{
  transform: scale(1.05);
}

.nav-container ul .link{
  list-style: none;
  cursor: pointer;
  transition: color 0.1s ease;
}
.nav-container ul  .link:hover{
  color:#e39f00;
}
.link.active {
  color: #e39f00;
  font-weight: bold;
}
.humbergur{
  display: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.humbergur:hover{
  transform: scale(1.05);
}
.order-button{
  padding: 10px 20px;
  background-color: #495E57;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.order-button:hover{
  background-color: #677872;
  color: white;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0 20%;
  margin: 15px 0;
}
.cart{
  transition: transform 0.2s ease;
}
.cart:hover{
transform: scale(1.05);
}
@media (max-width: 1200px) {
  .nav-container{
    padding: 0 10%;
  }
}
@media (max-width: 900px) {
  .nav-container{
    padding: 0 6%;
  }
}
@media (max-width: 800px) {
  .nav-container{
    padding: 0 25px;
  }
}
@media (max-width: 770px) {
  .nav-container .lg-screen-nav ul{
    display: none;
  }
  .humbergur{
    display: inline;
  }
}
