.nav-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0 10%;
  margin: 15px 0;
}
.nav-container ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(60, 57, 57);
}
.nav-logo{
  width: 130px;
}
.nav-container li{
  list-style: none;
}
.humbergur, .cart{
  display: none;
}
@media (max-width: 800px) {
  .nav-container{
    padding: 0 25px;
  }
}
@media (max-width: 550px) {
  .nav-container ul{
    display: none;
  }
  .humbergur, .cart{
    display: inline;
  }
}
