.todays-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20%;
  flex-direction: column;
}
.todays-menu .top-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin-bottom: 20px;
}
.todays-menu button{
  background: #F4CE14;
  padding: 10px;
  width: 100px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todays-menu button:hover{
  background-color: #f0d85f;
  transform: scale(1.05);
}
.todays-menu-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
@media (max-width: 1200px){
  .todays-menu{
    padding: 100px 10%;
  }
}
@media(max-width: 800px){
  .todays-menu{
    padding: 100px 25px;
  }
  .todays-menu .top-text h2{
    font-size: 25px;
  }
}
@media (max-width: 600px){
  .todays-menu .top-text h2{
    font-size: 20px;
  }
  .todays-menu button{
    width: 80px;
    font-size: 14px;
    font-weight: 600;
  }
  .top-text{
    font-size: 20px;
  }
}
@media (max-width: 450px){
  .todays-menu .top-text{
    font-size: 14px;
  }
  .todays-menu button{
    width: 70px;;
    font-size: 12px;
  }
}